* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, "Noto Sans KR", sans-serif;
  margin: 0;
}
.header {
  background-image: url("bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.header #inner,
section {
  width: 720px;
}
.header #side {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  padding: 12px 40px;
}

.header span {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
#inner {
  width: 720px;

  padding: 80px 0 280px 0;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  white-space: pre;
}
#inner p {
  color: #8287a4;
}
#inner p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 500;
}
#inner p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
  white-space:pre;
}
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 100%;
  border-radius: 24px;
}

footer {
  width: 100%;
}
