* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins, "Noto Sans KR", sans-serif;
  margin: 0;
}
.header {
  background-image: url("bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.header #inner,
section {
  width: 720px;
}

.header #side {
  position:absolute;
  left:40px;
  top:12px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;

}

.header span {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}
#inner {
  width: 720px;
  margin: 110px 0 280px 0;
}
h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  white-space: pre;
}
#inner p {
  color: #8287a4;
}
#inner p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 500;
}
#inner p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 400;
  white-space: pre;
}
main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
img {
  width: 100%;
  border-radius: 24px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #161346;
  padding-top: 74px;
  padding-bottom: 42px;
}
.script {
  font-size: 16px;
  font-weight: 500;
  color: #4c497b;
  margin: 32px 0 32px;
}
main p, .title{
  text-align: start;
}
.main-button {
  padding: 16px 32px;
  border-radius: 8px;
  margin-bottom: 64px;
  background-color: #413c91;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border: 0;
}
.background-colored {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .background-colored {
  width: 100%;
  background-color: #161346;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  margin-top: 40px;
}
#footer button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  background-color: #413c91;
  padding: 16px 32px;
  border-radius: 99999px;
  border: 0;
  margin: 32px;
}
#footer p {
  color: #8287a4;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}
.background-colored-footer {
  width: 100%;
  background-color: #120f3f;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#footer-inner {
  width: 720px;
  margin: 32px 0 32px 0;
  color: #d9d9d9;
  font-size: 16px;
  font-weight: 400;
  white-space: pre;
  text-align: start;
}
